src/main/resources/schemas/hotels.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.encora.com/choice/university-soap-api"
  targetNamespace="http://www.encora.com/choice/university-soap-api"
  elementFormDefault="qualified">

  <!-- Amenities related -->
  <xs:element name="getAmenitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="amenities" type="tns:amenity" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAmenityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAmenityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="amenity" type="tns:amenity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="amenity">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>